{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "18"
        }
      }
    ],
    ["@babel/preset-react", {"runtime": "automatic"}],
    "@babel/preset-typescript"
  ],
  "plugins": [
    "@babel/plugin-transform-class-properties",
    "@babel/plugin-transform-optional-chaining"
  ]
}
