name: image

on:
  schedule:
    - cron: "0 4 * * 0"  # At 04:00 on Sunday.
  push:
    tags:
      - 'v*.*.*'
  workflow_dispatch:
    inputs:
      tag:
        type: string
        description: Docker tag
        required: false

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: docker/setup-qemu-action@v3
      - uses: docker/setup-buildx-action@v3
      - uses: docker/login-action@v3
        with:
          username: akorn
          password: ${{ secrets.DOCKER_PASSWORD }}
      - id: vars
        if: ${{ github.ref_type == 'tag' }}
        run: |
          echo ::set-output name=tag::$(echo ${{ github.ref_name }} | sed s/v//)
      - run: |
          echo "VERSION=$(git describe --tags --dirty --always | sed s/v//)" \
            >> $GITHUB_ENV
          echo "BUILD_DATE=$(date -u +"%Y-%m-%dT%H:%M:%SZ")" >> $GITHUB_ENV
      - name: build and push
        uses: docker/build-push-action@v6
        with:
          context: .
          file: deployments/docker/Dockerfile
          build-args: |
            BUILD_DATE=${{ env.BUILD_DATE }}
            VERSION=${{ env.VERSION }}
          tags: akorn/scheduler${{
                github.event.inputs.tag
                && format(',akorn/scheduler:{0}', github.event.inputs.tag)
                || ''
            }}${{
                steps.vars.outputs.tag
                && format(',akorn/scheduler:{0}', steps.vars.outputs.tag)
                || ''
            }}
          platforms: linux/amd64,linux/arm64
          push: true
