name: image

on:
  schedule:
    - cron: "0 4 * * 0"  # At 04:00 on Sunday.
  workflow_dispatch:
    inputs:
      tag:
        type: string
        description: Docker tag
        required: false

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: checkout code
        uses: actions/checkout@v5
      - name: login to docker hub
        uses: docker/login-action@v3
        with:
          username: akorn
          password: ${{ secrets.DOCKER_PASSWORD }}
      - name: install buildx
        uses: docker/setup-buildx-action@v3
      - id: vars
        if: ${{ github.ref_type == 'tag' }}
        run: |
          echo ::set-output name=tag::$(echo ${{ github.ref_name }} | sed s/v//)
      - name: build and push
        uses: docker/build-push-action@v6
        with:
          context: .
          file: misc/docker/Dockerfile
          tags: akorn/scheduler${{
                github.event.inputs.tag
                && format(',akorn/scheduler:{0}', github.event.inputs.tag)
                || ''
            }}${{
                steps.vars.outputs.tag
                && format(',akorn/scheduler:{0}', steps.vars.outputs.tag)
                || ''
            }}
          push: true
